@font-face {
    font-family: Montserrat-medium;
    src: url("Montserrat-Medium.ttf");
}

@font-face {
    font-family: Montserrat-bold;
    src: url("Montserrat-Bold.ttf");
}

.side_col {
    background-color: #696747;
    top: 70px;
    height: 100%;
    font-size: 1.25rem;
    color: white;
    text-align: center;
}

.userlogin {
    background-color: #696747;
    top: 10px;
    height: 100%;
    width: 100%;
    font-size: 1.25rem;
    color: white;
    text-align: center;
}

.menuicon {
    display: none;
}

.my-nav {
    font-size: 18px;
    font-family: Montserrat-bold;
}

.my-item {
    color: white;
    font-family: Montserrat-medium;
    border: 1px solid white;
    height: 100%;
}

@media only screen and (max-width:700px) {
    .menuicon {
        display: inline;
        position: relative;
        width: 30px;
        height: 30px;
        left: 10px;
        top: 10px;
    }
    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }
    .side_col {
        position: absolute;
        top: 110px;
        max-width: 182px;
        left: -10px;
        z-index: 10;
    }
}