@font-face {
    font-family: Montserrat-medium;
    src: url("Montserrat-Medium.ttf");
}

@font-face {
    font-family: Montserrat-bold;
    src: url("Montserrat-Bold.ttf");
}

#curve_chart1 {
    width: 400px;
    height: 300px;
}

#curve_chart2 {
    width: 400px;
    height: 300px;
    margin-left: 20px;
}

.logo {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.side_col {
    background-color: #696747;
    top: 30px;
    height: 100%;
    font-size: 1.25rem;
    color: white;
    text-align: center;
    width: 182px;
}

table {
    font-family: Montserrat-medium;
    border-collapse: collapse;
    width: 500px;
}

th {
    border: 1px solid #dddddd;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    background-color: #999663;
    color: #ffffff;
}

td {
    border: 1px solid #dddddd;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: #C4C4C4;
}

.userlogin {
    background-color: #696747;
    top: 10px;
    height: 100%;
    width: 100%;
    font-size: 1.25rem;
    color: white;
    text-align: center;
}

.menuicon {
    display: none;
}

.my-nav {
    font-size: 18px;
    font-family: Montserrat-bold;
}

.my-item {
    color: white;
    font-family: Montserrat-medium;
    border: 1px solid white;
    height: 100%;
}

@media only screen and (max-width:700px) {
    .menuicon {
        display: inline;
        position: relative;
        width: 30px;
        height: 30px;
        left: 10px;
        top: 10px;
    }
    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }
    .side_col {
        position: absolute;
        top: 110px;
        max-width: 182px;
        left: -10px;
        z-index: 10;
    }
    #curve_chart1 {
        width: 400px;
        height: 300px;
    }
    #curve_chart2 {
        width: 400px;
        height: 300px;
        left: 20px;
    }
}